.event-badge-wrapper {
  position: absolute;
  top: 6px;
  right: 10px;
}
.event-badge {
  display: inline-block;
  background-color: $darkest !important;
  background-repeat: no-repeat;
  border-radius: 100px;
  overflow: hidden !important;
  text-align: center;
  &.xs {
    width: 15px;
    height: 15px;
  }
  &.sm {
    width: 20px;
    height: 20px;
  }
  &.md {
    width: 30px;
    height: 30px;
  }
  &.lg {
    width: 40px;
    height: 40px;
  }
  &.xl {
    width: 80px;
    height: 80px;
    @include breakpoint(medium down) {
      width: 30px;
      height: 30px;
    }
  }
}
.badge-hour {
  background: image-url("badges/badge_24hour.svg") center center no-repeat;
  background-size: cover;
}
.badge-paid {
  background: image-url("badges/badge_paid.svg") center center no-repeat;
  background-size: cover;
}
.badge-sponsored {
  background: image-url("badges/badge_yazda.svg") center center no-repeat;
  background-size: cover;
}
.badge-adventure-leader {
  background: image-url("badges/badge_adventure_leader.svg") center center no-repeat;
  background-size: cover;
}
.badge-adventure-leader {
  position: absolute;
  top: 0;
  right: 0;
}
