[data-theme="light"] {
  background-color: transparent;
  // ------------------------------------------------------------------------------
  .adventure-card {
    background-color: $light-gray;
  }
  .adventure-loading,
  .no-adventure {
    color: $darkest !important;
    background-color: transparent;
    box-shadow: 0 0 0 0 !important;
  }
  .card-divider {
    background-color: rgba($white, 0.2);
    margin-bottom: 1px;
    color: $darkest;
  }
  .card-content {
    //background-color: rgba($black, 0.1);
  }
  .adventure-name,
  .adventure-time {
    color: $darkest;
  }
  .adventure-description,
  .adventure-location,
  .adventure-number {
    color: $dark;
  }
  .plus-more {
    color: $dark-lighter;
  }
  .user-avatar {
    position: relative;
    background-color: $dark-light;
    border: 1px solid $medium-gray;
  }
  .skill-level-wrapper {
    span {
      color: $stable !important;
    }
    &.easiest {
      background-color: rgba($energized-light, 0.7);
    }
    &.easy,
    &.medium {
      background-color: rgba($calm, 0.7);
    }
    &.intermediate {
      background-color: rgba($balanced, 0.7);
    }
    &.hard {
      background-color: rgba($darkest, 0.7);
    }
    &.hardest {
      background-color: rgba($assertive, 0.7);
    }
  }
}
