<% if club.present? && club.banner.url.present? %>
    <wrapper class="image-wrapper" style="transition:all .1s linear">
      <%= image_tag @adventure.club.banner.url,
                    style: "-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;transition:all .1s linear;width:100%!important" %>
    </wrapper>
    <!-- BEGIN SPACER -->
    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
      <tbody style="transition:all .1s linear">
      <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
        <td height="20px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:auto;line-height:20px;margin:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;word-wrap:break-word">&#xA0;</td>
      </tr>
      </tbody>
    </table><!-- END SPACER -->
<% end %>
