<!-- AVATAR -->
<div class="avatar" style="-moz-border-radius:23px;-moz-box-shadow:0 0 0 1px #040404;-webkit-border-radius:23px;-webkit-box-shadow:0 0 0 1px #040404;background-color:#515151;border-radius:23px;box-shadow:0 0 0 1px #040404;display:inline-block;float:left;height:45px!important;position:relative;transition:all .1s linear;width:45px!important">
  <img src="<%= user.avatar.url %>"
       style="-moz-border-radius:23px;-ms-interpolation-mode:bicubic;-webkit-border-radius:23px;border-radius:23px;clear:both;display:block;height:45px!important;max-width:100%;outline:0;overflow:hidden;text-decoration:none;transition:all .1s linear;width:45px!important">
  <!-- ADD ADVENTURE LEADER BADGE -->
  <% if user.adventure_leader? %>
      <div class="adventure-leader-badge"
           style="height:15px!important;left:35px;
               position:absolute;top:0;transition:all .1s linear;
               width:15px!important;z-index:20">
        <img src="<%= image_url('badges/badge_adventure_leader.png') %>"
             style="-moz-border-radius:23px;
                 -ms-interpolation-mode:bicubic;
                 -webkit-border-radius:23px;border-radius:23px;
                 clear:both;display:block;height:15px!important;
                 max-width:100%;outline:0;overflow:hidden;
                 text-decoration:none;transition:all .1s linear;
                 width:15px!important">
      </div>
  <% end %>
  <!-- END ADVENTURE LEADER BADGE -->
</div>
<!-- END AVATAR -->
