<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
  <tbody style="transition:all .1s linear">
  <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">

    <h3 class="notification-heading text-center"
        style="Margin:0;Margin-bottom:10px;color:#F26530;font-family:Helvetica,Arial,sans-serif;font-size:28px;font-weight:400;hyphens:none;line-height:1em;margin:20px 10px!important;margin-bottom:10px;padding:0;text-align:center;transition:all .1s linear;word-wrap:normal">
      Congratulations on creating your first adventure!</h3>
    <th class="small-2 large-1 columns first"
        style="Margin:0 auto;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:10px;text-align:left;transition:all .1s linear;width:30px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
          <th style="Margin:0;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;transition:all .1s linear">
            <!-- THUMBSUP -->
            <div class="avatar thumbsup"
                 style="-moz-border-radius:23px;-moz-box-shadow:0 0 0 1px #040404;-webkit-border-radius:23px;-webkit-box-shadow:0 0 0 1px #040404;background-color:#515151!important;border-radius:23px;box-shadow:0 0 0 1px #040404;display:inline-block;float:left;height:45px!important;position:relative;transition:all .1s linear;width:45px!important">
              <img src="<%= image_url('badges/badge_thumbs-up.png') %>"
                   style="-moz-border-radius:23px;-ms-interpolation-mode:bicubic;-webkit-border-radius:23px;border-radius:23px;clear:both;display:block;height:45px!important;max-width:100%;outline:0;overflow:hidden;text-decoration:none;transition:all .1s linear;width:45px!important">
            </div>
            <!-- END THUMBSUP -->
          </th>
        </tr>
      </table>
    </th>
    <th class="small-10 large-11 columns last"
        style="Margin:0 auto;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:20px;padding-left:10px;padding-right:20px;text-align:left;transition:all .1s linear;width:530px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
          <th style="Margin:0;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;transition:all .1s linear">
            <p class="notification-text"
               style="Margin:0;Margin-bottom:20px;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:none;line-height:19px;margin:0;margin-bottom:10px;padding:0;padding-top:3px;text-align:left;transition:all .1s linear">
              Invite your friends. Discover Adventure.
              <!--TODO Time-->
              <!--<span class="notification-time" -->
              <!--style="color:#7c7c7c;display:block;font-size:14px;margin-top:5px;transition:all .1s linear">Mar 31, 2016</span>-->
            </p>
          </th>
        </tr>
      </table>
    </th>
  </tr>
  </tbody>
</table>
