Hey <%= @user.name %>,

<br/>
<p>
  This is James, one of the Co-founders at Yazda. I hope you don't mind me
  reaching out, I really enjoy interacting with users so we can keep improving.
</p>

<p>
  I'm really interested to know why you signed up for Yazda?
</p>
<p>
  The reason I ask this question is so I can ensure we're delivering on what you
  want from us. So if there's something that didn't meet your expectations or
  you couldn't figure something out, just let me know! (and I'll do my best to
  help). You can reply to this message or just tweet at me.
</p>
<p>
Regards,
</p>
<table>
  <tr>
    <td valign="top" style="padding: 0 8px 0 0;">
      <div style="float: left; display: block;">
        <img width="80" height="80" src="https://newoldstamp.com/editor/profilePictures/profile-d47284b703db594aafcbfd19b0213b41-11203.png" style=""/>
      </div>
    </td>
    <td valign="top" style="border-left: 3px solid #f8941c; padding: 0 0 0 8px;">
      <div style="display: block;">
        <span style="font-size: 14px; font-family: 'arial';">James Stoup</span>
      </div>
   <span style="display: none !important;">
    <span style="font-size: 11px; font-family: 'arial'; font-weight: bold; "></span>,
   </span>
   <span style="display: block;">
    <span style="font-size: 11px; font-family: 'arial'; ">Yazda</span>
   </span>
      <div style="padding: 12px 0 0 0;">
    <span style="display: none !important;">
     <span style="font-size: 11px; color: #ababab; font-family: 'arial';">p:</span>
     <span style="font-size: 11px; font-family: 'arial';"></span>
    </span>
    <span style="display: none !important;">
     <span style="font-size: 11px; color: #ababab; font-family: 'arial'; ">m:</span>
     <span style="font-size: 11px; font-family: 'arial';"></span>
    </span>
    <span style="display: none !important;">
     <span style="font-size: 11px; color: #ababab; font-family: 'arial'; ">a:</span>
     <span style="font-size: 11px; font-family: 'arial';"></span>
    </span>
        <div>
     <span style="display: block;">
      <span style="font-size: 11px; color: #ababab; font-family: 'arial';">s:</span>
      <span><a href="http://www.yazdaapp.com" target="_blank" style="color: #000; text-decoration: none; font-size: 11px; font-family: 'arial';">www.yazdaapp.com</a></span>
     </span>
     <span style="display:block ;">
      <span style="font-size: 11px; color: #ababab; font-family: 'arial'; ">e:</span>
      <span><a href="mailto:james.stoup@yazdaapp.com" target="_blank" style="font-size: 11px; color: #000; text-decoration: none; font-family: 'arial';">james.stoup@yazdaapp.com</a></span>
     </span>
        </div>
      </div>
      <div style="padding: 12px 0 0 0;">
    <span style="display: block ;">
     <span><a href="http://facebook.com/pages/Yazda/1532609843695322" target="_blank"><img src="https://editor.newoldstamp.com/images/f.jpg" width="20" height="20"/></a></span>
    </span>
    <span style="display: block ;">
     <span><a href="http://twitter.com/yazda_app" target="_blank"><img src="https://editor.newoldstamp.com/images/tw.jpg" width="20" height="20"/></a></span>
    </span>
    <span style="display: none !important;">
     <span><a href="" target="_blank"><img src="https://editor.newoldstamp.com/images/in.jpg" width="20" height="20"/></a></span>
    </span>
    <span style="display: none !important;">
     <span><a href="" target="_blank"><img src="https://editor.newoldstamp.com/images/instagram.jpg" width="20" height="20"/></a></span>
    </span>
      </div>
    </td>
  </tr>
</table><br/>
