<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
  <tbody style="transition:all .1s linear">
  <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
    <h3 class="notification-heading text-center" style="Margin:0;
        Margin-bottom:10px;color:#F26530;font-family:Helvetica,Arial,
        sans-serif;font-size:28px;font-weight:400;hyphens:none;
        line-height:1em;margin:20px 10px!important;margin-bottom:10px;
        padding:0;text-align:center;transition:all .1s linear;
        word-wrap:normal">New Friend
      Request!</h3>
    <th class="small-2 large-1 columns first" style="Margin:0 auto;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:10px;text-align:left;transition:all .1s linear;width:30px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
          <th style="Margin:0;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;transition:all .1s linear">
            <%= render partial: 'notification_mailer/user_image',
                       locals:  { user: @friendship.user } %>
          </th>
        </tr>
      </table>
    </th>
    <th class="small-10 large-11 columns last" style="Margin:0 auto;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:20px;padding-left:10px;padding-right:20px;text-align:left;transition:all .1s linear;width:530px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
          <th style="Margin:0;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;transition:all .1s linear">
            <p class="notification-text" style="Margin:0;
                Margin-bottom:20px;color:#f1f1f1;font-family:Helvetica,
                Arial,sans-serif;font-size:16px;font-weight:400;
                hyphens:none;line-height:19px;margin:0;margin-bottom:10px;
                padding:0;padding-top:3px;text-align:left;transition:all
                .1s linear"><%= @friendship.user.name %> wants to join forces!
              Whether you’re on two wheels or two feet, you have a new
              adventure buddy by your side!
            </p>
          </th>
        </tr>
      </table>
    </th>
  </tr>
  </tbody>
</table>
<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
  <tbody style="transition:all .1s linear">
  <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
    <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:20px;padding-left:20px;padding-right:20px;text-align:left;transition:all .1s linear;width:580px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
          <th style="Margin:0;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;transition:all .1s linear">
            <center data-parsed="" style="min-width:540px;transition:all .1s linear;width:100%">
              <table class="button large expanded cta-btn text-center" style="-moz-box-shadow:0 0 0 2px #040404;-webkit-box-shadow:0 0 0 2px #040404;Margin:0 0 16px 0;border:0!important;border-collapse:collapse;border-spacing:0;box-shadow:0 0 0 2px #040404;margin:0 0 5px!important;padding:0;text-align:center;transition:all .1s linear;vertical-align:top;width:100%!important">
                <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                  <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border:0!important;border-collapse:collapse!important;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center!important;transition:all .1s linear;vertical-align:top;word-wrap:break-word">
                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;transition:all .1s linear;vertical-align:top;width:100%">
                      <tr style="padding:0;text-align:left;transition:all .1s linear;vertical-align:top">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#299855;border:0!important;border-collapse:collapse!important;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center!important;transition:all .1s linear;vertical-align:top;width:auto!important;word-wrap:break-word">
                          <a href="https://yazdaapp.com/sign_in" style="Margin:0;
                              border:0 solid #299855;border-radius:6px;color:#f1f1f1;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;line-height:1em;margin:0;outline:0;padding:15px 20px 15px 20px;text-align:center;text-decoration:none;transition:all .1s linear">
                            Accept their invite now!</a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </center>
          </th>
          <th class="expander" style="Margin:0;color:#f1f1f1;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0!important;text-align:left;transition:all .1s linear;visibility:hidden;width:0"></th>
        </tr>
      </table>
    </th>
  </tr>
  </tbody>
</table>
