<!-- BEGIN CARD -->
<article id="" class="card-wrapper">
  <div class="card adventure-card" data-equalizer-watch>

    <!-- Card date -->
    <div class="card-divider">
      <%= adventure.start_time.strftime("%A, %B %d") %>
      <div class="event-badge-wrapper">
        <% if adventure.is_sponsored? %>
            <div class="event-badge badge-sponsored xs" title="Yazda Sponsored Event"></div>
        <% end %>
        <% if adventure.start_time + 1.day < adventure.end_time %>
            <span class="event-badge badge-hour xs" title="24+ Hour Event"></span>
        <% end %>
      </div>
    </div>

    <!-- Card background -->
    <div class="card-background" style="<%= background_style(adventure) %>"></div>

    <!-- Card content -->
    <div class="card-content">
      <!--TODO make url configurable-->
      <a target="_blank" href="https://yazdaapp.com/adventures/<%= adventure
                                                                  .id %>"
         class="adventure-type">
        <i class="icon-biking"></i> <%= adventure.adventure_type.titleize %>
        <div class="adventure-time">
          <%= adventure.start_time.strftime("%l:%M %P") %>
        </div>
      </a>
      <div class="single-line-text">
        <a target="_blank" href="https://yazdaapp.com/adventures/<%= adventure.id %>"
           class="adventure-name"><%= adventure.name %></a>
      </div>
      <div class="single-line-text">
        <a target="_blank" href="https://yazdaapp.com/adventures/<%= adventure.id %>"
           class="adventure-location">
          <%= adventure.location ? adventure.location.name : adventure.address %>
        </a>
      </div>
      <div id="multiline">
        <div class="adventure-description"><%= adventure.description %></div>
      </div>

      <div class="adventure-number">
        <%= adventure.invites.ya.count + 1 %> adventurers
        <% if adventure.reservation_limit.present? %>
            <span><%= adventure.reservation_limit - adventure.invites.ya.count %>
              spots left!</span>
        <% end %>
      </div>
      <div class="adventure-users">
        <%= render 'widgets/user_avatar', user: adventure.owner %>
        <% adventure.invites.ya.first(4).each do |invite| %>
            <%= render 'widgets/user_avatar', user: invite.user %>
        <% end %>
        <% if adventure.invites.ya.count > 4 %>
            <a target="_blank" href="https://yazdaapp.com/adventures/<%= adventure.id %>"
               class="plus-more"><i class="ion-plus"></i> <%= adventure.invites.ya.count - 4 %>
              more</a>
        <% end %>
      </div>
    </div>

    <!-- Card skill level -->
    <% if adventure.skill_level %>
        <div class="skill-level-wrapper <%= skill_level adventure %>" title="Skill Level: <%= skill_level adventure %>">
          <div class="skill-level-badge skill-level
          icon-<%= adventure.adventure_type.tr('_', '-') %>-skill-level-<%= adventure.skill_level %> sm"></div>
          <span><%= skill_level adventure %></span>
        </div>
    <% end %>
  </div>
</article>
<!-- END CARD -->
