<!--TODO use host-->
<a target="_blank" href="https://yazdaapp.com/users/<%= user.id %>"
   class="user-avatar
 sm"
   title="<%= user.name %>">
  <%= image_tag user.avatar.url %>
  <% if user.adventure_leader? %>
      <div class="event-badge badge-adventure-leader xs" title="Adventure Leader"></div>
  <% end %>
</a>
