<%= paginate @adventures, window: 0, per_page: params[:page_size] %>

<div class="expanded row adventure-widget-inner">
  <% if @adventures.count > 0 %>
      <% @adventures.each do |a| %>
          <%= render 'widgets/adventure_card',
                     adventure: a %>
      <% end %>
  <% else %>
      <% if @club.present? %>
          <!-- BEGIN CARD -->
          <article id="" class="card-wrapper">
            <div class="card no-adventure" data-equalizer-watch>
              <div class="card-message">
                <p>There aren't any adventures yet.
                </p>
                <a href="https://yazdaapp.com/clubs/<%= @club.id %>"
                   target="_blank" class="button small">Join <%= @club.name %>
                  to get notified!</a>
              </div>
            </div>
          </article>
          <!-- END CARD -->
      <% else %>
          <!-- BEGIN CARD -->
          <article id="" class="card-wrapper">
            <div class="card no-adventure" data-equalizer-watch>
              <div class="card-message">
                <p>Whoa! You don't have any adventures yet...</p>
                <a target="_blank" href="https://yazdaapp.com/adventures/new"
                   class="button small">Create one</a></div>
            </div>
          </article>
          <!-- END CARD -->
      <% end %>
  <% end %>
</div>

<script type="text/javascript">
  parent.postMessage(JSON.stringify({
    id: <%= params[:iframe_id] %>,
    height: document.body.scrollHeight
  }), "*");
</script>
