<%= File.read(Rails.root.join("vendor/assets/javascripts/ready.js")) %>

(function() {
  if (typeof Yazda === 'undefined') {
    window.Yazda = {
      initWidget: function() {
        var widget_wrappers;
        var widget_wrapper;
        var parameters = [];
        var iframe;
        var i = 0;

        widget_wrappers = document.getElementsByClassName("yazda-adventure-widget");

        while (widget_wrappers[0] != undefined) {
          parameters = [];
          widget_wrapper = widget_wrappers[0];

          parameters.push("iframe_id=" + i);
          for (var key in widget_wrapper.dataset) {
            parameters.push(key + "=" + widget_wrapper.dataset[key]);
          }
          parameters = "?" + parameters.join("&");

          iframe = document.createElement("iframe");
          iframe.setAttribute("src",
              "<%= Rails.application.routes.url_helpers.widget_url(protocol: 'https', host: 'api.yazdaapp.com') %>" + parameters);
          iframe.setAttribute("class", "yazda-adventure-widget-" + i);
          iframe.setAttribute("width", "100%");
          iframe.setAttribute("height", "240");
          iframe.setAttribute("frameborder", "0");
          iframe.setAttribute("scrolling", "no");

          widget_wrapper.replaceWith(iframe);
          i++;
        }
      },

      initIframeListener: function(event) {
        var iframeData;
        var widget_wrappers;

        if (~event.origin.indexOf("<%= URI.parse(Rails.application.routes.url_helpers.root_url).host %>")) {
          iframeData = JSON.parse(event.data);
          widget_wrappers = document.getElementsByClassName("yazda-adventure-widget-" + iframeData.id);

          for (i = 0; i < widget_wrappers.length; i++) {

            widget_wrappers[i].style.height = (iframeData.height + 43) + "px";
          }
        } else {
          return;
        }
      }
    };
  }

  domready(function() {
    Yazda.initWidget();
    window.addEventListener("message", Yazda.initIframeListener);
  });
})();
