<!DOCTYPE html>
<html>
<head>
  <title>YazdaServer</title>
  <%= stylesheet_link_tag 'widget', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: <%= "##{@background}" %> !important;">
<div class="adventure-widget-outer" data-theme="<%= @theme %>"
      data-equalizer data-equalize-on="medium">
  <%= yield %>
  <!-- BEGIN FOOTER -->
  <footer class="adventure-widget-footer">
    <a href="https://yazdaapp.com" title="Go to Yazda" target="_blank">
      <%= image_tag 'logo/yazda_full_horizontal.svg', class: 'logo' %>
      yazdaapp.com
    </a>
  </footer>
</div>
<!-- END FOOTER -->
</body>
</html>
